# Template file used to generate the configuration (YAML) for the collector
############
# Collector's YAML format
#   Root level keys
#       arguments
#       commands
#   Commands are list items. Command names label the command output.
#   Required command attributes:
#       command - will be executed by bash
#   Optional command attributes:
#       superuser - bool indicates need for elevated privilege (default: false)
#       run - bool indicates if command will be run (default: true)
#       modprobe - comma separated list of kernel modules required to run command
#       idle - bool indicates if system cpu idle percentage should be collected before running command (default: false)
#       parallel - bool indicates if command can be run in parallel with other commands (default: false)
#   Runtime values are provided by the collector at runtime on target.
#       $NIC - command will be called for all physical network interfaces
###########

############
# global arguments
############
arguments:
    name:
    bin_path:
############
# commands --
############
commands:
- date_timestamp:
    command: date 2>&1 | tee date_timestamp
    parallel: true
    superuser: false
- hdparm:
    command: hdparm -I /dev/sd* 2>&1 | tee hdparm
    parallel: true
    superuser: true
- dmidecode:
    command: dmidecode 2>&1 | tee dmidecode
    parallel: true
    superuser: true
- dmidecode_bin:
    command: dmidecode --dump-bin dmidecode_bin
    parallel: true
    superuser: true
- lspci:
    command: lspci -vv 2>&1 | tee lspci
    parallel: true
    superuser: true
- lspci_tv:
    command: lspci -tv 2>&1 | tee lspci_tv
    parallel: true
    superuser: true
- conrep:
    command: hp-conrep -s -f conrep
    parallel: true
    superuser: true
- uname:
    command: uname -a 2>&1 | tee uname
    parallel: true
    superuser: false
- numactl:
    command: numactl --hardware 2>&1 | tee numactl
    parallel: true
    superuser: true 
- hostname:
    command: hostname 2>&1 | tee hostname
    parallel: true
    superuser: false
- ifconfig:
    command: ifconfig 2>&1 | tee ifconfig
    parallel: true
    superuser: false
- dmesg:
    command: dmesg 2>&1 | tee dmesg
    parallel: true
    superuser: true
- emon_v:
    command: emon -v 2>&1 | tee emon_v
    parallel: true
    superuser: true
- emon_M:
    command: emon -M 2>&1 | tee emon_M
    parallel: true
    superuser: true
- lshal:
    command: lshal 2>&1 | tee lshal
    parallel: true
    superuser: true
- lsblk:
    command: lsblk -a 2>&1 | tee lsblk
    parallel: true
    superuser: false
- lscpu:
    command: lscpu 2>&1 | tee lscpu
    parallel: true
    superuser: false
- cpupower:
    command: cpupower frequency-info 2>&1 | tee cpupower
    parallel: true
    superuser: true
- cpupower_idle:
    command: cpupower idle-info 2>&1 | tee cpupower_idl
    parallel: true
    superuser: true
- lmi:
    command: lmi 2>&1 | tee lmi
    parallel: true
    superuser: true
- lsusb:
    command: lsusb -v 2>&1 | tee lsusb
    parallel: true
    superuser: true
- lsmod:
    command: lsmod 2>&1 | tee lsmod
    parallel: true
    superuser: true
- rpm:
    command: rpm -qa 2>&1 | tee rpm
    parallel: true
    superuser: true
- nstat:
    command: nstat -az 2>&1 | tee nstat
    parallel: true
    superuser: true
- netstat:
    command: netstat -sn 2>&1 | tee netstat
    parallel: true
    superuser: true
- dpkg:
    command: dpkg -l 2>&1 | tee dpkg
    parallel: true
    superuser: true
- iptables:
    command: iptables -L 2>&1 | tee iptables
    parallel: true
    superuser: true
- irqbalance:
    command: pgrep irqbalance 2>&1 | tee irqbalance
    parallel: true
    superuser: false
- getenforce:
    command: getenforce 2>&1 | tee getenforce
    parallel: true
    superuser: true
- sysctl:
    command: sysctl -a 2>&1 | tee sysctl
    parallel: true
    superuser: false
- smp_affinity:
    command: find /proc/irq/ -iname "*smp_affinity*" -print -exec cat {} \; 2>&1 | tee smp_affinity
    parallel: true
    superuser: false
- module_parameters:
    command: find /sys/module/*/parameters/* -print -exec cat {} \; 2>&1 | tee module_parameters
    parallel: true
    superuser: false
- systool:
    command: systool 2>&1 | tee systool
    parallel: true
    superuser: true
- ulimit:
    command: ulimit -a 2>&1 | tee ulimit
    parallel: true
    superuser: false
- boot_md5sum:
    command: md5sum /boot/* 2>&1 | tee boot_md5sum
    parallel: true
    superuser: true
- vmmctrl_v:
    command: vmmctrl -v &> vmmctrl_v
    parallel: true
    superuser: true
- vmmctrl:
    command: vmmctrl sysconf get 2>&1 | tee vmmctrl
    parallel: true
    superuser: true
- syscfg:
    command: bash -c "(/usr/bin/syscfg/syscfg /s bios.ini > /dev/null; mv bios.ini syscfg)"
    parallel: true
    superuser: true
- syscfg_dell:
    command: /opt/dell/toolkit/bin/syscfg --ox syscfg_dell
    parallel: true
    superuser: true
- mlc:
    command: mlc 2>&1 | tee mlc
    parallel: false
    superuser: true
- lsof:
    command: lsof 2>&1 | tee lsof
    parallel: true
    superuser: true
- lshw:
    command: lshw 2>&1 | tee lshw
    parallel: true
    superuser: true
# files
- release:
    command: cat /etc/*-release 2>&1 | tee release
    parallel: true
- cmdline:
    command: cat /proc/cmdline 2>&1 | tee cmdline
    parallel: true
- cpuinfo:
    command: cat /proc/cpuinfo 2>&1 | tee cpuinfo
    parallel: true
- meminfo:
    command: cat /proc/meminfo 2>&1 | tee meminfo
    parallel: true
- partitions:
    command: cat /proc/partitions 2>&1 | tee partitions
    parallel: true
- scsi:
    command: cat /proc/scsi/scsi 2>&1 | tee scsi
    parallel: true
- version:
    command: cat /proc/version 2>&1 | tee version
    parallel: true
- modules:
    command: cat /proc/modules 2>&1 | tee modules
    parallel: true
- mounts:
    command: cat /proc/mounts 2>&1 | tee mounts
    parallel: true
- interrupts:
    command: cat /proc/interrupts 2>&1 | tee interrupts
    parallel: true
- kernel_config:
    command: |-
        uname_r = $(uname -r)
        cat /boot/config-$uname_r 2>&1 | tee kernel_config
    parallel: true
- modules_config:
    command: |-
        uname_r = $(uname -r)
        cat /lib/modules/$uname_r/source/.config 2>&1 | tee modules_config
    parallel: true
- sysctl_conf:
    command: cat /etc/sysctl.conf 2>&1 | tee sysctl_conf
- hugepage_enable:
    command: cat /sys/kernel/mm/transparent_hugepage/enabled 2>&1 | tee hugepage_enable
    parallel: true
- hugepage_defrag:
    command: cat /sys/kernel/mm/transparent_hugepage/defrag 2>&1 | tee hugepage_defrag
    parallel: true
# NIC info
- ethtool $NIC:
    command: ethtool $NIC 2>&1 | tee ethtool_$NIC
    parallel: true
    superuser: true
- ethtool_i $NIC:
    command: ethtool -i $NIC 2>&1 | tee ethtool_i_$NIC
    parallel: true
    superuser: true
- ethtool_k $NIC:
    command: ethtool -k $NIC 2>&1 | tee ethtool_k_$NIC
    parallel: true
    superuser: true
- ethtool_c $NIC:
    command: ethtool -c $NIC 2>&1 | tee ethtool_c_$NIC
    parallel: true
    superuser: true
- ethtool_l $NIC:
    command: ethtool -l $NIC 2>&1 | tee ethtool_l_$NIC
    parallel: true
    superuser: true
